<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="box-generic" style="margin: 10px 0 10px 0;">
      <h2 class="text-center" style="margin-top: 5px;">Nova republica</h2>
        <%= render 'form' %> <br>
        <%= link_to 'Back', republicas_path, class: "btn btn-default btn-block" %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyCGiTlkGdihtCVi-3eFPxSj_zpJFBuV4FQ"></script>
<% end %>
