<div class="banner">
  <div class="banner-content">
    <h1>ENCONTRE UMA REPUBLICA!</h1><br><br>
    <form action="republicas" class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="city">Cidade</label>
        <input type="text" class="form-control search-field" id="city" name="city" placeholder="Cidade">
      </div>
      <button type="submit" class="btn navbar-wagon-button">Busca!</button>
    </form>
  </div>
</div>
