<div class="gray-wrapper">
  <div class="container">
    <div class="row">
        <div class="features text-center">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature text-center">
              <div class="feature-content">
                <%= image_tag "house.png", class: "image-small" %>
                <h3>Encontre uma republica</h3>
                <p>As republicas mais legais do Brasil estão na Repapp, aproveite!</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature text-center">
              <div class="feature-content">
                <%= image_tag "man.png", class: "image-small" %>
                <h3>Conhece novas pessoas</h3>
                <p>Escolhe uma republica com pessoas que gostam das mesmas coisas que você</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature text-center">
              <div class="feature-content">
                <%= image_tag "padlock.png", class: "image-small" %>
                <h3>Fique com seguranca</h3>
                <p>A Repapp te ajuda gerar todas as coisas feias: contrato, contas...</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature text-center">
              <div class="feature-content">
                <%= image_tag "beer.png", class: "image-small" %>
                <h3>Aproveite</h3>
                <p>Agora é so buscar, relaxar, e aproveitar!</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
