.footer {
  background-color: gray;
  padding: 20px 0;
  color: white;
  border-top: 10px solid red;
  font-size: 10px;
  a i {
    font-size: 30px;
    margin: 0 10px;
    color: white;
    transition: .3s;
    &:hover{
      color: red;
    }
  }
  p {
    font-size: 14px;
    font-style: $header-font;
  }
}
